                        /* // COLOR VALUES */
/* $purpleBle:#9262F0;
$purple:#C63BF6;
$darkBlue:#6C7FE9;
$blue:#4BB4E3;
                        // GRADIENT LIST
$list1: $purpleBle 0%, $blue 0%, $purple 100%, $darkBlue 100%;
$list2: $blue 0%, $blue 15%, $darkBlue 25%, $darkBlue 40%, $purpleBle 50%, $purpleBle 65%, $purple 75%;
$list3: $purple 0%, $purple 45%, $blue 60%, $blue 61%, $purple 62%, $purple 100%;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  } */
ion-content{
    margin: 0;
    padding: 0;
}
.body{
    padding: 3%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#9262F0,#C63BF6,#6C7FE9,#4BB4E3);
}
.container{
    width: 94%;
    background: #ffffff;
    height: 96%;
    border-radius: 10px;
}
.login{
    padding: 10%;
}
.login h1{
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}
.login .form a h6{
    text-align: right;
    font-size: 15px;
    color: grey;
} 
.login .form a{
    text-decoration: none;
}
.login button{
    text-align: center;
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    height: 40px;
    background: linear-gradient(45deg,#9262F0,#C63BF6,#6C7FE9,#4BB4E3);
}
.signUp{
    padding: 25%;
}
.signUp h6{
    text-align: center;
    font-size: 15px;
    color: grey;
}
.signUp button{
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
   background: linear-gradient(45deg,#C63BF6,#4BB4E3);
}